<%= render 'form' %>

<table>
<% @todos.each do |todo| %>
  <tr>
    <td><%= check_box_tag 'important', 'task', todo.important %></td>
    <td><%= todo.title %></td>
    <td><%= todo.due_date %></td>
    <td><%= todo.done %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


