<%= render 'form' %>

<% unless @todos.empty? %>
    <label class="checkbox">
      <%= check_box_tag 'mark', 'all', all_todos_checked?, id: 'mark_all' %>
      Mark all as complete
    </label>
<% end %>

<table class="table table-hover">
  <% @todos.each do |todo| %>
      <tr data-id="<%= todo.id %>">
        <td class="width_14"><%= check_box_tag 'task', todo.done, todo.done, class: "done_state" %></td>
        <td><%= todo.title %></td>
        <td class="width_75"><%= todo.due_date.strftime('%d.%m.%Y') if todo.due_date %></td>
        <td class="importance width_14">
          <i class="icon-star<%= todo.important ? '' : '-empty' %>"></i>
        </td>
      </tr>
  <% end %>
</table>


